<h2>Información de la Empresa</h2>
<div class="mt-3">
    <hr>
</div>
<div class="row">
    <div class="col-md-6 text-center mt-5">
        <h4>{{ company.name }}</h4>
        
    </div>
    <div class="col-md-6 text-center">
        <img [src]="company.logo" class="img-fluid rounded-circle logo-size" style="width: 100px; height: 100px; object-fit: cover;" alt="Logo de la empresa">
        <div class="mt-3">
            <hr>
        </div>
    </div>
</div>
<div class="row ">
    <div class="col-md-6 " >
        <ul class="list-group">
            <li class="list-group-item"><strong>Correo:</strong> {{ company.email }}</li>
            <li class="list-group-item alternate-bg"><strong>Teléfono:</strong> {{ company.phone }}</li>
            <li class="list-group-item"><strong>Dirección:</strong> {{ company.address }}</li>
            <li class="list-group-item alternate-bg"><strong>Ciudad:</strong> {{ company.city }}</li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item"><strong>Código postal:</strong> {{ company.postalCode }}</li>
            <li class="list-group-item alternate-bg"><strong>País:</strong> {{ company.country }}</li>
            <li class="list-group-item"><strong>Fecha de creación:</strong> {{company.creationDate}}</li>
            <li class="list-group-item alternate-bg"><strong>Número fiscal:</strong> {{ company.fiscalNumber }}</li>
        </ul>
    </div>
    <div class="mt-3">
        <hr>
    </div>
    <div><p><strong>Descripción: </strong>{{ company.description }}</p></div>
</div>
